.fill-blanks-container {
    // padding: 16px;
    margin: 1em auto 0px;
    width: 80%;
  
    mat-card {
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
  
        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }

    input {
        border: none;
        border-bottom: 2px solid #333; // Adjust color as needed
        outline: none;
        padding: 5px 0; // Add some padding for better spacing
        background: transparent;
        transition: border-color 0.3s;
      
        &:focus, 
        &:hover {
          background-color: #f0f0f0;    // Light background when hovering or focused
          border-bottom-color: #007bff;  // Blue underline when hovering or focused
        }
      }
}   

:host {
    display: block;
    // padding: 20px;
  }
  mat-form-field {
    // margin-bottom: 20px;
    display: block;
}