<div class="main-container">
    <div class="content">
        <div class="gif-container">
            <img src="learning.gif" alt="Website Ad GIF" class="gif" />
        </div>
        <div class="card-container">
            <mat-card class="button-card">
                <mat-card-content>
                    <h1>{{ 'app.main-page.title' | translate }}</h1>
                    <p>{{ 'app.main-page.subtitle' | translate }}</p>
                    <div class="button-container">
                        <button mat-raised-button color="primary" routerLink="/main/register">{{'app.menu-bar.register' | translate}}</button>
                        <button mat-raised-button color="accent" routerLink="/main/login">{{'app.menu-bar.login' | translate}}</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
