<mat-card class="introduction">
    <mat-card-content>
        <h2>{{ lesson.topic }}</h2>
        <div [innerHTML]="lesson.introduction"></div>
    </mat-card-content>
</mat-card>

<mat-card class="presentation">
    <mat-card-content>
        <div [innerHTML]="lesson.presentation"></div>
    </mat-card-content>
</mat-card>

<app-exercise [lessonFilename]="lessonFilename" [triggerFinish]="triggerFinish"
    (returnFeedback)="showFeedback($event)"
></app-exercise>

<mat-card class="conclusion">
    <mat-card-content>
        <div [innerHTML]="lesson.conclusion"></div>
    </mat-card-content>
</mat-card>

<app-context-menu [menuItems]="menuItems"></app-context-menu>

<button mat-flat-button (click)="getFeedback()">Finish lesson</button>