<app-loader-wrapper [loading]="lesson.loading" [error]="lesson.error">
    <mat-card class="introduction" *ngIf="(lesson.data?.introduction?.length || 0) > 0">
        <mat-card-content style="position: relative;">
            <h2>{{ lesson.data?.topic }}</h2>
            <div [innerHTML]="lesson.data?.introduction"></div>
            <app-text-to-speech [textToSpeak]="lesson.data?.introduction" [lang]="lesson.data?.language || 'en'"></app-text-to-speech>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="presentation" *ngIf="(lesson.data?.presentation?.length || 0) > 0">
        <mat-card-content style="position: relative;">
            <div [innerHTML]="lesson.data?.presentation || ''"></div>
            <app-text-to-speech [textToSpeak]="lesson.data?.presentation" [lang]="lesson.data?.language || 'en'"></app-text-to-speech>
        </mat-card-content>
    </mat-card>
    
    <app-exercise [id]="lessonId" [triggerFinish]="triggerFinish" [lang]="lesson.data?.language || 'en'"
    (returnFeedback)="showFeedback($event)"
    ></app-exercise>
    
    <mat-card class="conclusion" *ngIf="(lesson.data?.conclusion?.length || 0) > 0">
        <mat-card-content style="position: relative;">
            <div [innerHTML]="lesson.data?.conclusion || ''"></div>
            <app-text-to-speech [textToSpeak]="lesson.data?.conclusion" [lang]="lesson.data?.language || 'en'"></app-text-to-speech>
        </mat-card-content>
    </mat-card>
    
    <div class="finish-button">
        <button mat-flat-button (click)="getFeedback()" class="finish">{{'app.dialog.lesson.finish' | translate}}</button>
    </div>

    <app-context-menu [menuItems]="menuItems"></app-context-menu>
    
</app-loader-wrapper>