<mat-toolbar color="primary">
    <!-- App Icon -->
    <div class="logo">
      <img src="logo.png" alt="App Logo" class="app-icon" (click)="redirectToHome()" />
    </div>
    <span class="spacer"></span>
    <!-- Navigation Menu -->
    <ul class="menu">
      @for (item of menuItems; track item.trID) {
        @if (item.link) {
          <li>
            <a mat-button [routerLink]="item.link">{{ item.label }}</a>
          </li>
        } @else if(item.action) {
            <li>
            <a mat-button (click)="item.action(item.label)">{{ item.label }}</a>
            </li>
        }
      }
    </ul>
    <span class="spacer"></span>
    <!-- Lang selector -->
    <div class="language-selector">
        <app-language-selector 
            [defaultLanguage]="selectedLanguage"
            [languages]="languages"
            (languageSelected)="onLanguageSelected($event)">
        </app-language-selector>
    </div>
</mat-toolbar>
