<app-loader-wrapper [loading]="exerciseBe.loading" [error]="exerciseBe.error">
    <ng-container *ngFor="let i of exerciseBe.data?.mcRange">
        <app-multiple-choice
            [question]="exerciseBe.data?.mcQuestions?.[i] || ''" [options]="exerciseBe.data?.mcOptions?.[i] || []" (answerSelected)="handleMcAnswerSubmission($event, i)" [lang]="lang">
        </app-multiple-choice>
    </ng-container>
    <ng-container *ngFor="let i of exerciseBe.data?.fbRange">
        <app-fill-blanks
            [beforeBlank]="exerciseBe.data?.fbBeforeBlank?.[i] || ''" [afterBlank]="exerciseBe.data?.fbAfterBlank?.[i] || ''" (answerSubmitted)="handleFbAnswerSubmission($event, i)" [lang]="lang">
        </app-fill-blanks>
    </ng-container>

    <app-floating-progress-meter #progressMeter></app-floating-progress-meter>
</app-loader-wrapper>