<mat-card class="vocabulary-card">
    <mat-card-header>
        <mat-card-title>{{ 'app.menu-bar.my-vocabulary' | translate }}</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
        <app-loader-wrapper [loading]="vocabulary.loading" [error]="vocabulary.error">
            <!-- Display vocabulary groups -->
            <mat-list>
                <mat-divider></mat-divider>
                @for (group of (vocabulary.data || []); track group.section) {
                    <span mat-subheader style="font-size: 1.2em;">{{ group.section }}</span>
                    @for (word of group.words; track word.word) {
                        <mat-list-item>
                            <span class="word">{{ word.word }}</span>
                            <span class="translation">{{ word.meaning }}</span>
                            <button mat-icon-button color="warn" (click)="removeWord(group, word)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-list-item>
                    }
                    <mat-divider></mat-divider>
            }
            </mat-list>
        </app-loader-wrapper>
    </mat-card-content>
</mat-card>
