<!-- src/app/dashboard/dashboard.component.html -->
<div class="dashboard-container">
    <!-- Progress Panel -->
    <mat-card class="dashboard-panel">
      <mat-card-header>
        <mat-card-title>{{ 'app.dashboard.progress' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-loader-wrapper [loading]="true">
          <p>
            {{ 'app.dashboard.progress-lessons' | translate: {userProgress: userProgress} }}
          </p>
          <mat-progress-bar
            mode="determinate"
            [value]="(userProgress.completedLessons / userProgress.totalLessons) * 100"
          ></mat-progress-bar>
          <p class="motivational-message">{{ getMotivationalMessage() }}</p>
        </app-loader-wrapper>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.daily-challenge' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loader-wrapper [loading]="true">
            @if (!isDailyChallengeCompleted) {
                <p>{{ 'app.dashboard.daily-challenge.info' | translate}}</p>
                <button mat-raised-button color="primary" (click)="completeDailyChallenge()">
                  {{ 'app.dashboard.daily-challenge.start' | translate}}
                </button>
            } @else {
                <p>{{ 'app.dashboard.daily-challenge.success' | translate}}</p>
            }
          </app-loader-wrapper>
        </mat-card-content>
    </mat-card>
  
    <!-- Cultural Note Panel -->
    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.cultural-note' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loader-wrapper [loading]="true">
            <div class="quote-container">
            <mat-icon class="quote-icon">format_quote</mat-icon>
            <blockquote>
            "{{ getRandomCulturalNote().quote }}"
            <footer>- {{ getRandomCulturalNote().author }}</footer>
            </blockquote>
            </div>
          </app-loader-wrapper>
        </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.progress-total' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-loader-wrapper [loading]="topics.length === 0">
              <app-lesson-selection [topics]="topics"></app-lesson-selection>
            </app-loader-wrapper>
        </mat-card-content>
    </mat-card>
</div>
