<!-- src/app/dashboard/dashboard.component.html -->
<div class="dashboard-container">
    <!-- Progress Panel -->
    <mat-card class="dashboard-panel">
      <mat-card-header>
        <mat-card-title>{{ 'app.dashboard.progress' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ 'app.dashboard.progress-lessons' | translate: {userProgress: userProgress} }}
        </p>
        <mat-progress-bar
          mode="determinate"
          [value]="(userProgress.completedLessons / userProgress.totalLessons) * 100"
        ></mat-progress-bar>
        <p class="motivational-message">{{ getMotivationalMessage() }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.daily-challenge' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (!isDailyChallengeCompleted) {
                <p>{{ 'app.dashboard.daily-challenge.info' | translate}}</p>
                <button mat-raised-button color="primary" (click)="completeDailyChallenge()">
                  {{ 'app.dashboard.daily-challenge.start' | translate}}
                </button>
            } @else {
                <p>{{ 'app.dashboard.daily-challenge.success' | translate}}</p>
            }
        </mat-card-content>
    </mat-card>
  
    <!-- Cultural Note Panel -->
    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.cultural-note' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="quote-container">
            <mat-icon class="quote-icon">format_quote</mat-icon>
            <blockquote>
            "{{ getRandomCulturalNote().quote }}"
            <footer>- {{ getRandomCulturalNote().author }}</footer>
            </blockquote>
        </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.progress-total' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>
