<!-- src/app/dashboard/dashboard.component.html -->
<div class="dashboard-container">

    <!-- Progress Panel -->
    <mat-card class="dashboard-panel">
      <mat-card-header>
        <mat-card-title>{{ 'app.dashboard.progress' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-loader-wrapper [loading]="xp.loading" [error]="xp.error">
            <app-xp [xpAmount]="xp.data || 0" [xpGain]="false" ></app-xp>
        </app-loader-wrapper>
        <app-loader-wrapper [loading]="userProgress.loading" [error]="userProgress.error">
          <p>
            {{ 'app.dashboard.progress-lessons' | translate: {userProgress: userProgress.data} }}
          </p>
          <mat-progress-bar
            mode="determinate"
            [value]="userProgress.data ? (userProgress.data.completedLessons / userProgress.data.totalLessons * 100) : 0"
          ></mat-progress-bar>
          <p class="motivational-message">{{ getMotivationalMessage() }}</p>
        </app-loader-wrapper>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.daily-challenge' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loader-wrapper [loading]="dailyChallenge.loading" [error]="dailyChallenge.error">
            @if (!dailyChallenge.data?.isCompleted) {
                <p>{{ 'app.dashboard.daily-challenge.info' | translate}}</p>
                <button mat-raised-button color="primary" (click)="completeDailyChallenge()">
                  {{ 'app.dashboard.daily-challenge.start' | translate}}
                </button>
            } @else {
                <p>{{ 'app.dashboard.daily-challenge.success' | translate}}</p>
            }
          </app-loader-wrapper>
        </mat-card-content>
    </mat-card>
  
    <!-- Cultural Note Panel -->
    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.cultural-note' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loader-wrapper [loading]="culturalNote.loading" [error]="culturalNote.error">
            <div class="quote-container">
            <mat-icon class="quote-icon">format_quote</mat-icon>
            <blockquote>
            "{{ culturalNote.data?.quote }}"
            <footer>- {{ culturalNote.data?.author }}</footer>
            </blockquote>
            </div>
          </app-loader-wrapper>
        </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-panel">
        <mat-card-header>
            <mat-card-title>{{ 'app.dashboard.progress-total' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-loader-wrapper [loading]="topics.loading" [error]="topics.error">
              <app-lesson-selection [topics]="topics.data || []"></app-lesson-selection>
            </app-loader-wrapper>
        </mat-card-content>
    </mat-card>
</div>
